.navbar{
  width:100%;
  height:70px;
  background-color:#298729;
  color:white;
  position:absolute;
  z-index:2000;
  left:0;
  top:0;
  line-height: ;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

}

a{
  font-size: 25px;
  margin: 10px 30px 20px 30px;
  vertical-align: middle;
  width: 110px;
}


b{
  line-height:50px;
}

content{

  display:flex;
  justify-content: space-around;
  align-items: center;
}
