agm-map {
  height: 600px;

}

.map{
  width:90vw;
  border:1px solid silver;
  border-radius: 5px;
  margin: 0 auto;
}

.ng-template{
  background-color: green;
  color:black;
  width: 20%;
}

p{
  margin: 0;
}

h2{
  margin-top:10px;
}
button{

    background-color:#298729;
    color:white;
    width:45%;
    border: 1px solid #298729;
    border-radius: 20px;
    padding:0px 20px;

    text-align:center;
    font-size:18px;
    font-weight: bold;
    cursor:pointer;
    font-family: 'Indie Flower', cursive;
    margin-top: 10px
}


.materias{
  width: 70vw;
  height: 25vh;
  padding-top:5px;
  line-height: 20px;
  margin:20px auto;
  border:1px solid silver;
  border-radius: 5px;
  vertical-align: middle;
  color:black;
  background-color: rgba(255, 255, 255, 0.9);
}
