
<app-navbar></app-navbar>


<agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
  <div *ngFor="let teacher of this.user">
    <agm-marker (click)="goTo(teacher._id)" [latitude]="teacher.position.latitude" [longitude]="teacher.position.longitude">
      <agm-info-window>
        <p style="color:black;font-size:16px" ><span style="color:#298729; font-family: 'Indie Flower', cursive;"><b style="font-size:25">{{teacher.username}}</b></span> <br> Valoración: {{teacher.rating}}/5 <br> {{teacher.price_per_hour}} €/h</p>
      </agm-info-window>
    </agm-marker>
  </div>
</agm-map>

<div style="margin-top:750px">
<div *ngFor="let prof of this.user" style="line-height:25px" class="materias">
  <h2 style="margin-bottom: 0px">{{prof.username}}</h2>
  <p style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Precio por hora: <b>{{prof.price_per_hour}}€</b></p>
  <p style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Valoración global: {{prof.rating}}/5</p>
    <button [routerLink]="[prof._id]">Ver Info</button>
     <button (click)="wantTeacher(prof._id)">Citar</button>

</div>

  <button [routerLink]="['/subject']">Volver</button>
</div>
