agm-map {
  height: 250px;
  width: 300px;
  margin-top: 30px;
  position: absolute;
  top: 65px;
  left: 37px;

}


.ng-template{
  background-color: green;
  color:black;
  width: 20%;
}

p{
  margin: 0;
}

h2{
  margin-top:10px;
}
button{

    background-color:#298729;
    color:white;
    width:45%;
    border: 1px solid #298729;
    border-radius: 20px;
    padding:5px 20px;
    text-align:center;
    font-size:18px;
    font-weight: bold;
    cursor:pointer;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 10px ;
    vertical-align: middle;
}


.materias{
  width: 70vw;
  height: 20vh;
  padding-top:5px;
  line-height: 20px;
  margin:20px auto;
  border:1px solid silver;
  border-radius: 5px;
  vertical-align: middle;
  color:black;
  background-color: rgba(255, 255, 255, 0.9);
}
