ul{
  padding:0;
}

li{
  list-style-type: none;
}

#space{
  width: 100vw;
  height: 100vh;

}

input{
  width:100%;
  padding: 5px;
}

button{
  margin-top:20px;
  border:1px solid black;
  border-radius: 10px;
}

a{
  text-decoration: none;
  font-weight: bold;
  color:blue;
}
