button{

    background-color:#298729;
    color:white;
    border: 1px solid #298729;
    border-radius: 20px;
    padding:8px 20px;
    font-size:18px;
    font-weight: bold;
    cursor:pointer;
    font-family: 'Indie Flower', cursive;
    margin-top:10px;

}
a{
  color:#298729;
  font-weight: bold;
  text-decoration: none;
  font-size:20px;
}

input{
  width:100%;
  padding: 6px 0;
  font-size:20px;
}
