<div *ngIf='this.authService.getUser()'>
  <div class="cabecera"> <img class="profile_pic" src="https://es.barcelona.com/design/tourism/images//ba-2013/avatar-m.jpg" alt=""></div>

  <div class="cuerpo">
    <h2> Bienvenido, {{this.authService.getUser().username}} </h2>
    <p> Para editar tus características, pulsa <a href="#">AQUÍ</a></p>

    <h3>Mi perfil:</h3>
    <p> blablabla</p>
    <div class="botones"><button class="button look_subject" style="margin-bottom: 20px;">BUSCA AYUDA</button><br>
    <button class="button logout"> CERRAR SESIÓN </button></div>
  </div>

</div>
