<div class="ponct-info">
  <img src="" class="profile_pic" alt="">
  <h2>¡ Puntúa a <span style="color: #298729">{{teacher.username}}</span> !</h2>
  <h4><b>¿Nota genérica?</b>
  <select name='genericLevel'>
    <option value='1'>1</option>
    <option value='2'>2</option>
    <option value='3'>3</option>
    <option value='4'>4</option>
    <option value='5'>5</option>
  </select></h4>

  <h4><b>¿Cómo fue de puntual?</b>
  <select name='punctualityLevel' >
    <option value='1'>1</option>
    <option value='2'>2</option>
    <option value='3'>3</option>
    <option value='4'>4</option>
    <option value='5'>5</option>
  </select></h4>
  <h4><b>¿Conocimientos?</b>
  <select name='skillsLevel'>
    <option value='1'>1</option>
    <option value='2'>2</option>
    <option value='3'>3</option>
    <option value='4'>4</option>
    <option value='5'>5</option>
  </select></h4>

  <h4><b>Comentarios: </b></h4>
  <textarea name="comment" style="font-family: 'Indie Flower', cursive;"
   placeholder="¿Algo que te molestara? ¿Recomendarías?" rows="6" cols="25"></textarea>

  <p style="margin-bottom: 10px;"><button style="margin-bottom: 0px;"(click)= "createRating()">Hecho!</button></p>

</div>
<button (click)= "getBack()">Volver</button>
